<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Home</title>
        {% load static %}
        {% load main_tags %}
        <link rel="icon" href="{% static 'main/img/logo_main.png'  %}">
        <link rel="stylesheet" href="{% static 'main/css/home-page.css' %}">
    </head>
<body>

    {% show_header username name %}

    <div class="container my-4">
        <div class="p-3 text-center mode">
            <h1 class="text-body-emphasis">Вибраний режим роботи</h1>
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'home' %}" type="button" class="btn btn-outline-secondary btn-lg px-4 rounded-pill">Студент</a>
                    <button type="button" class="btn align-items-center btn btn-primary btn-lg px-4 rounded-pill">Вчитель</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="p-3 mode">
            <div class="row">
                    <h1 class="text-center text-body-emphasis">
                        Сворити курс
                        <button id="show-form" class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#form-add" aria-expanded="false" aria-controls="form-add">
                            <i id="plus" class="bi bi-plus-lg"></i>
                            <i id="c-up" class="bi bi-chevron-up hidden-element"></i>
                        </button>
                    </h1>

                    <div id="form-add" class="col-md-6 collapse mx-auto">

                    {% block course_form_content %}
                    <form method="post">
                      {% csrf_token %}
                      <div class="form-floating mb-3">
                        {{ course_form.name}}
                        <label for="{{ course_form.name.id }}">Уведіть назву</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ course_form.description }}
                        <label for="{{ course_form.description.id }}">Уведіть опис</label>
                      </div>
                      <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Додати</button>
                    </form>
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% show_all_courses_teacher username %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    const showFormButton = document.getElementById('show-form');
    const plusIcon = document.getElementById('plus');
    const cUpIcon = document.getElementById('c-up');

    showFormButton.addEventListener('click', function() {
      plusIcon.classList.toggle('hidden-element');
      cUpIcon.classList.toggle('hidden-element');
    });
    </script>

    <script>


    </script>

</body>
</html>
