<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        />
            <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
        />

        {% load static %}

        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/login-form.css' %}">
        <link rel="icon" href="{% static 'main/img/logo_main.png'  %}">
    </head>
    <body>

        <header id="header">
            <nav>
                <div class="container">

                    <div class="logo">
                        <img src="{% static 'main/img/logo.png' %}" alt="Logo" />
                    </div>

                    <div class="links">
                        <ul>
                            <li> <a class="nav_link" href="#">Home</a></li>
                            <li> <a class="nav_link" href="#">About-us</a></li>
                            <li> <a class="nav_link" href="#">GitHub</a></li>
                            <li> <button class="log-reg-btn">Login</button></li>
                        </ul>
                    </div>

                    <div class="dropdown-menu">
                        <div class="bar"></div>
                    </div>

                  </div>
            </nav>
        </header>

        <div class="overlay hidden-element">
            <div class="sign-in-up-form">
                <div class="login-form-content">
                    <div class="login-form">

                    <form action="" class="sign-in" id="s-in">
                        <div class="close-button">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>

                        <h1 class="form-title">Safe Landing!</h1>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            <input type="text" placeholder="Username" class="line-input">
                        </div>

                        <div class="input-box">
                            <i class='bx bx-lock input-icon'></i>
                            <input type="password" placeholder="Password" class="line-input">
                        </div>

                        <a href="#" class="login-btn">Sign In</a>

                        <div>
                            <span class="label-link-signinup">Don't have an Account?</span>
                            <span class="link-signin" id="sign-up">Sign Up Now</span>
                        </div>
                    </form>

                    <form action="" class="sign-up hidden-element" id="s-up">
                        <div class="close-button">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>

                        <h1 class="form-title">Welcome!</h1>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            <input type="text" placeholder="Username" class="line-input">
                        </div>

                        <div class="input-box">
                            <i class='bx bx-at input-icon'></i>
                            <input type="text" placeholder="Email" class="line-input">
                        </div>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            <input type="text" placeholder="First name" class="line-input">
                        </div>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            <input type="text" placeholder="Last name" class="line-input">
                        </div>

                        <div class="input-box">
                            <i class='bx bx-lock input-icon'></i>
                            <input type="password" placeholder="Password" class="line-input">
                        </div>

                        <a href="#" class="login-btn">Sign Up</a>

                        <div>
                            <span class="label-link-signinup">Already have an Account?</span>
                            <span class="link-signup" id="sign-in">Sign In</span>
                        </div>


                   </form>
                </div>
                </div>
            </div>
        </div>


        <div class="header-content">
            <div class="container grid-2">
                <div class="column-1" >
                    <a class="btn" href="#" >Get Started</a>
                </div>

                <div class="column-2">
                    <div class="container_inner">
                        <div class="box">
                            <h2>Teacher</h2>
                            <p>Створюйте свої курси та запрошуйте до них своїх учнів. Сворюйте завдання для тестів за допомогою інструментів цієї платформи.</p>
                        </div>
                        <div class="box">
                            <h2>Student</h2>
                            <p>Text </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="{% static 'main/js/login-page.js' %}"></script>
        <script src="{% static 'main/js/login-form.js' %}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>
