{% for c in courses %}
<div class="col">
    <div class="card shadow-sm course">

        <div class="head p-3">
            <h1 class="head-text">
                {{c.name}}
            </h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{c.description}}
            </p>

            <div class="d-flex justify-content-between align-items-center">
                <div class="justify-content-start">
                    <button type="button" class="btn btn-sm btn-primary rounded-pill card-btn">
                        Редагувати курс
                    </button>
                </div>
                <div class="mx-2"></div>
                <div class="justify-content-end ml-auto">
                    <button type="button" class="btn btn-sm btn-danger rounded-pill card-btn">
                        Видалити курс
                    </button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endfor %}