{% for c in courses %}
<div class="col">
    <div class="card shadow-sm course">

        <div class="head p-3">
            <h1 class="head-text">
                {{c.name}}
            </h1>
            {% if is_student %}
                <i class="bi bi-person-circle head-icon"></i>
                <h2 class="head-text">
                    {{c.user.first_name}} {{c.user.last_name}}
                </h2>
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">
                {{c.description}}
            </p>


            <div class="d-flex justify-content-between align-items-center">

                {% if is_student  %}

                <div class="justify-content-start">
                    <a href="{% url 'course' c.code %}" type="button" class="btn btn-sm btn-primary rounded-pill card-btn">
                        Переглянути <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="mx-2"></div>
                <div class="justify-content-end ml-auto">
                    {% block delete_course_content %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" value="{{ c.code }}" name="delete_course" class="btn btn-sm btn-danger rounded-pill card-btn">
                            Покинути курс
                        </button>
                    </form>
                    {% endblock %}
                </div>

                {% else %}

                <div class="justify-content-start">
                    <a href="{% url 'course_editor' c.code %}" class="btn btn-sm btn-primary rounded-pill card-btn">
                        Редагувати курс
                    </a>
                </div>
                <div class="mx-2"></div>
                <div class="justify-content-end ml-auto">
                    <button type="button" class="btn btn-sm btn-danger rounded-pill card-btn">
                        Видалити курс
                    </button>
                </div>

                {% endif %}

            </div>

        </div>
        <br>
    </div>
</div>
{% endfor %}