<svg id="my-svg" class="bd-placeholder-img card-img-top" width="100%" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" overflow="auto">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="blue"></rect>
    <circle cx="50%" cy="50%" r="30" fill="white" />
    <text x="50%" y="50%" fill="#000" font-size="20" text-anchor="middle" dy=".3em">1</text>
</svg>
<br>
<form id="uploadForm" method="post">
  {% csrf_token %}
  <input type="hidden" name="svgData" id="svgData">
  <button type="submit">Завантажити</button>
</form>

<script>
    var svg = document.getElementById("my-svg");
    svg.addEventListener("click", function(event) {
        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
        circle.setAttribute("cx", event.offsetX);
        circle.setAttribute("cy", event.offsetY);
        circle.setAttribute("r", 30);
        circle.setAttribute("fill", "white");
        svg.appendChild(circle);
        var svgElement = document.getElementById("my-svg");
        var svgCode = svgElement.outerHTML;
        document.getElementById("svgData").value = svgCode;
    });
</script>
<script>
    var svgElement = document.getElementById("my-svg");
    var svgCode = svgElement.outerHTML;
    document.getElementById("svgData").value = svgCode;
</script>