{% load static %}
<header class="p-3 mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="d-flex align-items-center mb-2 mb-lg-0">
            <img src="{% static 'app/img/logo.png' %}" alt="Logo" style="max-width: 65px; height: auto;">
        </div>

        <div class="nav col-12 col-lg-auto me-lg-auto mb-2"></div>
        {% if is_home %}
            <a href="#" class="nav-link px-2 text-secondary">Home</a>
        {% else %}
            <a href="#" class="nav-link px-2 link-light">Home</a>
        {% endif %}
        <a href="#" class="nav-link px-2 link-light">Logout</a>

        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
        </a>
        <ul class="dropdown-menu text-small dropdown-menu-acc">
            <li>
                <div class="d-flex align-items-center py-2">
                    <i class="bi bi-person-circle ms-3" style="font-size: 1.8rem;"></i>
                    <div class="flex-column justify-content-center ms-2">
                        <h1 style="font-size: 0.9rem; margin: 0;">{{username}}</h1>
                        <h2 style="font-size: 0.7rem; margin: 0;">{{name}}</h2>
                    </div>
                </div>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Редагувати профіль</a></li>
        </ul>
        </div>
    </div>
</header>