<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        />
            <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
        />

        {% load static %}

        <link rel="stylesheet" href="{% static 'app/css/login-page.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/login-form.css' %}">
        <link rel="icon" href="{% static 'app/img/logo_main.png'  %}">
    </head>
    <body>

        <header id="header">
            <nav>
                <div class="container">

                    <div class="logo">
                        <img src="{% static 'app/img/logo.png' %}" alt="Logo" />
                    </div>

                    <div class="links">
                        <ul>
                            <li> <a class="nav_link" href="#">Home</a></li>
                            <li> <a class="nav_link" href="#">About-us</a></li>
                            <li> <a class="nav_link" href="#">GitHub</a></li>
                            <li> <button class="log-reg-btn">Login</button></li>
                        </ul>
                    </div>

                    <div class="dropdown-menu">
                        <div class="bar"></div>
                    </div>

                </div>
            </nav>
        </header>

        <div class="{% if mode == 0 %}overlay hidden-element{% else %}overlay{% endif %}">
            <div class="sign-in-up-form">
                <div class="login-form-content">
                    <div class="login-form">

                    {% block sign_in_content %}
                    <form action="" class="{% if mode == 2 %}sign-in hidden-element{% else %}sign-in{% endif %}" id="s-in" method="post">

                        {% csrf_token %}
                        <div class="close-button">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>

                        <h1 class="form-title">Login</h1>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signinform.username }}
                        </div>

                        <div class="input-box">
                            <i class='bx bx-lock input-icon'></i>
                            {{ signinform.password }}
                        </div>

                        <span class="err">{{ signinform.non_field_errors }}</span>


                        <button href="#" name="sign-in" class="login-btn">Sign In</button>

                        <div>
                            <span class="label-link-signinup">Don't have an Account?</span>
                            <span class="link-signin" id="sign-up">Sign Up Now</span>
                        </div>
                    </form>
                    {% endblock %}

                    {% block sign_up_content %}
                    <form action="" class="{% if mode < 2 %}sign-up hidden-element{% else %}sign-up{% endif %}" id="s-up" method="post">

                        {% csrf_token %}

                        <div class="close-button">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>

                        <h1 class="form-title">Login</h1>


                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signupform.username }}
                        </div>
                        <span class="err">{{ signupform.username.errors }}</span>

                        <div class="input-box">
                            <i class='bx bx-at input-icon'></i>
                            {{ signupform.email }}
                        </div>
                        <span class="err">{{ signupform.email.errors }}</span>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signupform.first_name }}
                        </div>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signupform.last_name }}
                        </div>

                        <div class="input-box">
                            <i class='bx bx-lock input-icon'></i>
                            {{ signupform.password }}
                        </div>

                        <button type="submit" name="sign-up" class="login-btn">Sign Up</button>

                        <div>
                            <span class="label-link-signinup">Already have an Account?</span>
                            <span class="link-signup" id="sign-in">Sign In</span>
                        </div>

                   </form>
                   {% endblock %}
                </div>
                </div>
            </div>
        </div>


        <div class="header-content">
            <div class="container grid-2">
                <div class="column-1" >
                    <a class="btn" href="#" >Get Started</a>
                </div>

                <div class="column-2">
                    <div class="container_inner">
                        <div class="box">
                            <h2>Teacher</h2>
                            <p>Створюйте свої курси та запрошуйте до них своїх учнів. Сворюйте завдання для тестів за допомогою інструментів цієї платформи.</p>
                        </div>
                        <div class="box">
                            <h2>Student</h2>
                            <p>Text </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="{% static 'app/js/login-page.js' %}"></script>
        <script src="{% static 'app/js/login-form.js' %}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>
