<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
        <link  rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        {% load static %}
        <link rel="stylesheet" href="{% static 'app/css/log-form.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/g-page.css' %}">
        <link rel="icon" href="{% static 'app/img/logo_main.png'  %}">
    </head>
    <body>

        <header class="p-3 mb-3">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <div class="d-flex align-items-center mb-2 mb-lg-0">
                    <img src="{% static 'app/img/logo.png' %}" alt="Logo" style="max-width: 65px; height: auto;">
                </div>

                <div class="nav col-12 col-lg-auto me-lg-auto mb-2"></div>

                <button id="log-reg" type="button" class="btn btn-outline-light" style="font-size: 1.3rem;">Увійти</button>

                </div>
            </div>
        </header>

        <div class="{% if mode == 0 %}overlay hidden-element{% else %}overlay{% endif %}">
            <div class="sign-in-up-form">
                <div class="login-form-content">
                    <div class="login-form">

                    {% block sign_in_content %}
                    <form action="" class="{% if mode == 2 %}sign-in hidden-element{% else %}sign-in{% endif %}" id="s-in" method="post">

                        {% csrf_token %}
                        <div class="close-button">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>

                        <h1 class="form-title">Login</h1>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signinform.username }}
                        </div>

                        <div class="input-box">
                            <i class='bx bx-lock input-icon'></i>
                            {{ signinform.password }}
                        </div>

                        <span class="err">{{ signinform.non_field_errors }}</span>


                        <button href="#" name="sign-in" class="login-btn">Sign In</button>

                        <div>
                            <span class="label-link-signinup">Don't have an Account?</span>
                            <span class="link-signin" id="sign-up">Sign Up Now</span>
                        </div>
                    </form>
                    {% endblock %}

                    {% block sign_up_content %}
                    <form action="" class="{% if mode < 2 %}sign-up hidden-element{% else %}sign-up{% endif %}" id="s-up" method="post">

                        {% csrf_token %}

                        <div class="close-button">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>

                        <h1 class="form-title">Login</h1>


                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signupform.username }}
                        </div>
                        <span class="err">{{ signupform.username.errors }}</span>

                        <div class="input-box">
                            <i class='bx bx-at input-icon'></i>
                            {{ signupform.email }}
                        </div>
                        <span class="err">{{ signupform.email.errors }}</span>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signupform.first_name }}
                        </div>

                        <div class="input-box">
                            <i class='bx bx-user input-icon'></i>
                            {{ signupform.last_name }}
                        </div>

                        <div class="input-box">
                            <i class='bx bx-lock input-icon'></i>
                            {{ signupform.password }}
                        </div>

                        <button type="submit" name="sign-up" class="login-btn">Sign Up</button>

                        <div>
                            <span class="label-link-signinup">Already have an Account?</span>
                            <span class="link-signup" id="sign-in">Sign In</span>
                        </div>

                   </form>
                   {% endblock %}
                </div>
                </div>
            </div>
        </div>




        <div class="container py-4">
            <div class="row">
                <div class="col-md-4 my-3">
                    <div class="h-100 p-5 text-bg-dark box-info-2">

                        <div class="col-lg-12">
                            <p>
                                Це онлайн платформа для дистанційної освіти. Щоб почати роботу вам потрібно авторизуватися або сворити новий обліковий запис.
                            </p>
                        </div>
                        <div class="text-center">
                            <button id="get_started" class="btn btn-outline btn-primary rounded-pill" href="#" >Почати роботу</button>
                        </div>

                    </div>

                    </div>
                    <div class="col-md-8 my-3">

                        <div class="p-5 text-bg-dark box-info">
                            <div class="container p-5 box-info-inner my-3">
                                <h2>Студент</h2>
                                <p>
                                    Приєднуйтесь до курсів своїх викладчів та проходтьте їхні завдання
                                </p>
                            </div>
                            <div class="container p-5 box-info-inner my-3">
                                <h2>Вчитель</h2>
                                <p>
                                  Сворюйте свої курси та запрошуйте до них своїх учнів. Сворюйте завдання для тестів за допомогою інструментів цієї платформи
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'app/js/log-reg-page.js' %}"></script>
        <script src="{% static 'app/js/log-form.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>
