<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Tests</title>
        {% load static %}
        {% load app_tags %}
        <link rel="icon" href="{% static 'app/img/logo_main.png'  %}">
        <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    </head>
<body>

    {% show_header username name %}


    <div class="d-flex justify-content-center p-2">
        <ul class="nav nav-pills">
            {% if is_published %}
            <li class="nav-item"><a href="{% url 'test_publish' test.code %}" class="w-100 btn btn-secondary btn-md btn-block">Зупинти публікування</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'test_publish' test.code %}" class="w-100 btn btn-success btn-md btn-block">Опублікувати</a></li>
            {% endif %}
            <li class="nav-item"><a href="{% url 'test_statistic' test.code %}" class="nav-link text-dark">Переглянути статистику</a></li>
        </ul>
    </div>
    <hr class="my-1">

    {% if not is_published %}
    <div class="container my-4">
        <div class="p-3 mode">
            <div class="row">
                <h1 class="text-center text-body-emphasis">
                    Створити завдання
                    <button id="show-form" class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#form-add" aria-expanded="false" aria-controls="form-add">
                        <i id="plus" class="bi bi-plus-lg"></i>
                        <i id="c-up" class="bi bi-chevron-up hidden-element"></i>
                    </button>
                </h1>

                <div id="form-add" class="col-md-8 mx-auto collapse my-3">
                    {% block task_form_content %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="my-3">
                            <svg id="my-svg" class="bd-placeholder-img card-img-top" width="600" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" overflow="auto" style="box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.5);">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="white"></rect>
                            </svg>
                        </div>
                        <div class="row gy-3 my-3">
                            <div class="col-md-9">
                                <input id="input-edge-bst" type="text" class="form-control" placeholder="Ведіть значення вузла дерева">
                            </div>
                            <div class="col-md-3">
                                <a id="add-edge" class="w-100 btn btn-primary">add</a>
                            </div>

                        </div>

                        {{ form.question_text }}
                        <input type="hidden" id="hidden-input" name="hidden_input">
                        <hr class="my-3">
                        {{ form.answers.management_form }}
                        <div id="answer-forms">
                            {% for answer_form in form.answers.forms %}
                            <div class="answer-form">
                                <div class="row gy-3 my-2">
                                    <div class="col-md-9">
                                        {{ answer_form.answer_text }}
                                        {{ answer_form.is_correct }}
                                        <label for="{{ answer_form.is_correct.id_for_label }}">Правильна відповідь:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="w-100 btn btn-danger btn-md btn-block delete-answer">Видалити</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a type="button" id="add-answer" class="w-100 btn btn-primary btn-lg btn-block">Додати варіант</a>
                            </div>
                            <div class=" col-md-6 text-center">
                                <button type="submit" class="w-100 btn btn-success btn-lg btn-block">Зберегти завдання</button>
                            </div>
                        </div>
                    </form>
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
    {% endif %}

    <div class="container my-4"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'app/js/copy-clipboard.js' %}"></script>
    <script src="{% static 'app/js/dropdown-menu.js' %}"></script>
    <script>
        var formCount = {{ form.answers|length }};
        var addButton = document.getElementById("add-answer");
        var answerForms = document.getElementById("answer-forms");

        function deleteAnswerForm() {
            var answerForm = this.parentElement.parentElement.parentElement;
            answerForm.parentNode.removeChild(answerForm);
        }

        function addAnswerForm() {
            var answerForm = '{{ form.answers.empty_form|escapejs }}';
            answerForm = answerForm.replace(/__prefix__/g, formCount);
            formCount++;

            var newAnswerDiv = document.createElement('div');
            newAnswerDiv.classList.add('answer-form');
            num = formCount-1
            newAnswerDiv.insertAdjacentHTML('beforeend',
             '<div class="row gy-3 my-2">' +
                '<div class="col-md-9">' +
                    '<textarea name="answer-'+ num +'-answer_text" rows="1" class="form-control" placeholder="Введіть варіант відповіді" maxlength="255" id="id_answer-'+ num +'-answer_text"></textarea>' +
                    '<input type="checkbox" name="answer-'+ num +'-is_correct" id="id_answer-'+ num +'-is_correct">' +
                    '<label for="{{ answer_form.is_correct.id_for_label }}">Правильна відповідь</label>' +
                '</div>' +
                '<div class="col-md-3">' +
                    '<a class="w-100 btn btn-danger btn-md btn-block delete-answer">Видалити</a>' +
                '</div>' +
            '</div>');
            var newDeleteButton = newAnswerDiv.querySelector(".delete-answer");
            newDeleteButton.addEventListener("click", deleteAnswerForm);
            answerForms.appendChild(newAnswerDiv);
            autosize(document.querySelectorAll('textarea.form-control'));
        }

        addButton.addEventListener("click", addAnswerForm);

        var deleteButtons = document.querySelectorAll(".delete-answer");
        deleteButtons.forEach(function(button) {
            button.addEventListener("click", deleteAnswerForm);
        });

    </script>
    <script>

        class TreeNode {
            constructor(value, height) {
                this.value = value;
                this.height = height;
                this.left = null;
                this.right = null;
            }
        }

        class BinarySearchTree {
            constructor() {
                this.root = null;
                this.height = 0;
            }

        insert(value) {
            if (!this.root) {
                this.root = new TreeNode(value, 0);
                this.height = 0;
                return;
            }

            let currentNode = this.root;
            let parentNode = null;
            let height = 0;

            while (currentNode) {
                parentNode = currentNode;

                if (parseFloat(value) < parseFloat(currentNode.value)) {
                    currentNode = currentNode.left;
                } else {
                    currentNode = currentNode.right;
                }
                height++;

            }
            if (height > 3) {
                    alert("дерево надто високе, та не вміщається");
                    return;
            }

            if (parseFloat(value) < parseFloat(parentNode.value)) {
                console.log(value, parentNode.value);
                parentNode.left = new TreeNode(value, height);
            } else {
                parentNode.right = new TreeNode(value, height);
            }

            this.height = Math.max(this.height, height - 1);
        }

        preOrderTraversal(node, elementSvg, pos_x, pos_y, prev_x, prev_y) {
                if (node === null) return;

                var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                circle.setAttribute("cx", pos_x + "%");
                circle.setAttribute("cy", pos_y + "%");
                circle.setAttribute("r", "3%");
                circle.setAttribute("fill", "blue");

                var text = document.createElementNS("http://www.w3.org/2000/svg", "text");
                text.setAttribute("x", pos_x + "%");
                text.setAttribute("y", pos_y + "%");
                text.setAttribute("text-anchor", "middle");
                text.setAttribute("alignment-baseline", "central");
                text.setAttribute("fill", "white");
                text.textContent = node.value;

                var line = document.createElementNS("http://www.w3.org/2000/svg", "line");
                if (prev_x > 0) {

                    var distance = Math.sqrt((pos_x - prev_x) ** 2 + (pos_y - prev_y) ** 2);
                    var ratio = 4 / distance;
                    var new_x = prev_x + (pos_x - prev_x) * ratio;
                    var new_y = prev_y + (pos_y - prev_y) * ratio;

                    line.setAttribute("x1", new_x + "%");
                    line.setAttribute("y1", new_y + "%");
                    line.setAttribute("x2", pos_x + "%");
                    line.setAttribute("y2", pos_y + "%");
                    line.setAttribute("stroke", "black");
                    line.setAttribute("stroke-width", "2");
                    elementSvg.appendChild(line);
                }

                prev_x = pos_x;
                prev_y = pos_y;

                elementSvg.appendChild(circle);
                elementSvg.appendChild(text);
                var pos_x_left = pos_x - (this.height - node.height + 1) / (node.height / 2 + 1) * 5
                var pos_x_right = pos_x + (this.height - node.height + 1)/ (node.height / 2 + 1) * 5
                var pos_y_new = pos_y + 23

                this.preOrderTraversal(node.left, elementSvg, pos_x_left, pos_y_new, prev_x, prev_y);
                this.preOrderTraversal(node.right, elementSvg, pos_x_right, pos_y_new, prev_x, prev_y);
            }
        }


        var addEdge = document.getElementById("add-edge");
        const bst = new BinarySearchTree();
        addEdge.addEventListener("click", function(event) {

            var edge = document.getElementById("input-edge-bst").value;
            bst.insert(edge)

            var svgElement = document.getElementById("my-svg");
            var circles = svgElement.getElementsByTagName("circle");
            while (circles.length > 0) {
              var circle = circles[0];
              circle.parentNode.removeChild(circle);
            }
            var texts = svgElement.getElementsByTagName("text");
            while (texts.length > 0) {
              var text = texts[0];
              text.parentNode.removeChild(text);
            }
            var lines = svgElement.getElementsByTagName("line");
            while (lines.length > 0) {
              var line = lines[0];
              line.parentNode.removeChild(line);
            }
            bst.preOrderTraversal(bst.root, svgElement, 50, 15, -1, -1);

            var svgCode = svgElement.outerHTML;
            document.getElementById("hidden-input").value = svgCode;
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
    <script>
      autosize(document.querySelectorAll('textarea.form-control'));
    </script>

</body>
</html>


